<div class="home" ng-controller="HomeController">
	<div class="patient-physician">
		<a href="/#/patients"><button class="btn btn-lg btn-primary btn-home">{{home_images[0].title}}</button></a>
		<a href="/#/physicians"><button class="btn btn-lg btn-primary btn-home">{{home_images[1].title}}</button></a>
	</div>

</div>