<div ng-controller="HomeController">
	<h1>
		myKnee
	</h1>
	<a href="/#/patients"><button class="btn btn-lg btn-primary">{{home_images[0].title}}</button></a>
	<a href="/#/physicians"><button class="btn btn-lg btn-primary">{{home_images[1].title}}</button></a>

</div>