<div class="home" ng-controller="HomeController">
	<div class="patient-physician">
		<a href="/#/patients"><button class="btn btn-lg btn-primary btn-home">Patient</button></a>
		<a href="/#/physicians"><button class="btn btn-lg btn-primary btn-home">Physician</button></a>
	</div>

</div>