<div class="container" ng-controller="PatientController">
	<h1>Patients</h1>
	<br />
	<table class="table">
    <thead>
      <td><h3>Name</h3></td>
      <td><h3>Knee Location</h3></td>
      <td><h3>Surgery Type</h3></td>
    </thead>
    <tr ng-repeat="patient in patients">
      <td><a href="/#/patients/{{patient.id}}">{{patient.name}}</a></td>
      <td>{{patient.knee_location}}</td>
      <td>{{patient.surgery_type}}</td>
    </tr>
  </table>

</div>