<div ng-controller="PhysicianController">
	<h1>Physicians</h1>
	<br />
	<table class="table">
    <thead>
      <td><h3>Name</h3></td>
      <td><h3>Practice</h3></td>
    </thead>
    <tr ng-repeat="physician in physicians">
      <td><a href="/#/physicians/{{physician.id}}">{{physician.name}}</td>
      <td>{{physician.practice}}</td>
    </tr>
  </table>

</div>