<div ng-controller="PhysicianController">
	<div class="physician-div">
    <h1>Physicians</h1>
  </div> 
	<table class="table table-striped physicians-tbl">
    <thead class="physicians-tbl-header">
      <td><h3>Name</h3></td>
      <td><h3>Practice</h3></td>
    </thead>
    <tr ng-repeat="physician in physicians">
      <td><a href="/#/physicians/{{physician.id}}">{{physician.name}}</td>
      <td>{{physician.practice}}</td>
    </tr>
  </table>

</div>