<div ng-controller="PatientController">
  <div class="patient-div">
    <div class="info-div">
      <h1>{{patient.name}}</h1>
      <h4>
        {{patient.address1}}<br />
        {{patient.address2}}<br />
        {{patient.city}}, {{patient.state}} {{patient.zipcode}}<br />
        {{patient.email}}
      </h4>
    </div>
    <div class="surgery-div">
      <h2>{{patient.surgery_type}}</h2>
      <h2>{{patient.knee_location}} Knee</h2>
      <img ng-src='{{patient.knee_company_img}}' />
      <h3><em>{{patient.knee_brand}}</em></h3>  
    </div>
  </div>

	<table class="table single-patient-tbl">
    <colgroup>
      <col class="col-sm-4" />
      <col class="col-sm-4" />
      <col class="col-sm-4" />
    </colgroup>
    <thead>
      <tr class="single-patient-tbl-header">
        <td><h4>Surveys</h4></td>
        <td class="tbl-center"><h4>Status</h4></td>
        <td class="tbl-center"></td>
      </tr>
    </thead>
    <tbody>
      <tr  ng-repeat="survey in patient.surveys | orderBy:survey.id">
        <td><a href="/#/patients/{{patient_id}}/surveys/{{survey.id}}">{{survey.time_period}}</a></td>
        <td class="tbl-center">{{survey.status}}</td>
        <td  class="tbl-center" ng-show="survey_status[$index].take">
          <a href="/#/patients/{{patient_id}}/surveys/{{survey.id}}/take_survey">
            <button class="btn btn-success">Take Survey</button>
          </a>
        </td>
        <td class="tbl-center" ng-show="survey_status[$index].update">
          <a href="/#/patients/{{patient_id}}/surveys/{{survey.id}}/update_survey">
            <button class="btn btn-warning">Update Survey</button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</div>