<div class="container" ng-controller="PatientController">
	<h1>{{patient.name}}</h1>
  <h2>{{patient.surgery_type}}</h2>
  <h2>{{patient.knee_location}} Knee</h2>
	<br />
	<table class="table">
    <thead>
      <tr>
        <td><h4>Surveys</h4></td>
      </tr>
    </thead>
    <tbody>
      <tr  ng-repeat="survey in surveys">
        <td><a href="/#/patients/{{patient_id}}/surveys/{{survey.id}}">{{survey.time_period}}</a></td>
      </tr>
    </tbody>
  </table>

</div>