<div ng-controller="SurveyController">
	<div class="patient-div">
    <div class="info-div">
      <h1>{{patient.name}}</h1>
      <h4>
        {{patient.address1}}<br />
        {{patient.address2}}<br />
        {{patient.city}}, {{patient.state}} {{patient.zipcode}}<br />
        {{patient.email}}
      </h4>
    </div>
    <div class="surgery-div">
      <h2>{{patient.surgery_type}}</h2>
      <h2>{{patient.knee_location}} Knee</h2>
      <img ng-src='{{patient.knee_company_img}}' />
      <h3><em>{{patient.knee_brand}}</em></h3>  
    </div>
  </div>
  <table class="table table-striped update-patient-tbl">
    <thead class="update-patient-tbl-header">
      <tr>
        <td><h4>{{survey.time_period}} Survey</h4></td>
        <td colspan="5" class="tbl-center"><h4>Rating (1-Low to 5-High)</h4></td>
      </tr>
      <tr>
        <td><h4>Question</h4></td>
        <td class="tbl-center"><h4>1</h4></td>
        <td class="tbl-center"><h4>2</h4></td>
        <td class="tbl-center"><h4>3</h4></td>
        <td class="tbl-center"><h4>4</h4></td>
        <td class="tbl-center"><h4>5</h4></td>
    </thead>
    <tbody>
      <tr>
        <td>{{questions.first}}</td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q1_rating" value="1" /></td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q1_rating" value="2" /></td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q1_rating" value="3" /></td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q1_rating" value="4" /></td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q1_rating" value="5" /></td>
      </tr>
      <tr>
        <td>{{questions.second}}</td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q2_rating" value="1" /></td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q2_rating" value="2" /></td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q2_rating" value="3" /></td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q2_rating" value="4" /></td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q2_rating" value="5" /></td>
      </tr>
      <tr>
        <td>{{questions.third}}</td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q3_rating" value="1" /></td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q3_rating" value="2" /></td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q3_rating" value="3" /></td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q3_rating" value="4" /></td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q3_rating" value="5" /></td>
      </tr>
      <tr>
        <td>{{questions.fourth}}</td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q4_rating" value="1" /></td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q4_rating" value="2" /></td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q4_rating" value="3" /></td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q4_rating" value="4" /></td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q4_rating" value="5" /></td>
      </tr>
      <tr>
        <td>{{questions.fifth}}</td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q5_rating" value="1" /></td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q5_rating" value="2" /></td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q5_rating" value="3" /></td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q5_rating" value="4" /></td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q5_rating" value="5" /></td>
      </tr>
      <tr>
        <td>{{questions.sixth}}</td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q6_rating" value="1" /></td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q6_rating" value="2" /></td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q6_rating" value="3" /></td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q6_rating" value="4" /></td>
        <td class="tbl-center"><input type="radio" ng-model="survey.q6_rating" value="5" /></td>
      </tr>  
    </tbody>
  </table>
  <a href="/#/patients/{{patient.id}}/surveys/{{survey.id}}">
    <button class="btn btn-success btn-right" ng-click="updateSurvey()">Update Survey</button>
  </a>

</div>