<div class="container" ng-controller="PhysicianController">
	<h1>{{physician.practice}}</h1>
  <h2>{{physician.name}}</h2>
	<br />
	<table class="table">
    <thead>
      <tr>
        <td colspan="3"><h3>Patients</h3></td>
      </tr>
      <tr>
        <td><h4>Name</h4></td>
        <td><h4>Knee Location</h4></td>
        <td><h4>Surgery Type</h4></td>
      <tr>
    </thead>
    <tbody>
      <tr ng-repeat="patient in physician.patients">
        <td><a href="/#/patients/{{patient.id}}">{{patient.name}}</a></td>
        <td>{{patient.knee_location}}</td>
        <td>{{patient.surgery_type}}</td>
      </tr>
    </tbody>
  </table>

</div>