<div ng-controller="SurveyController">
	<div class="patient-div">
    <div class="info-div">
      <h1>{{patient.name}}</h1>
      <h4>
        {{patient.address1}}<br />
        {{patient.address2}}<br />
        {{patient.city}}, {{patient.state}} {{patient.zipcode}}<br />
        {{patient.email}}
      </h4>
    </div>
    <div class="surgery-div">
      <h2>{{patient.surgery_type}}</h2>
      <h2>{{patient.knee_location}} Knee</h2>
      <img ng-src='{{patient.knee_company_img}}' />
      <h3><em>{{patient.knee_brand}}</em></h3>  
    </div>
  </div>
  <a href="/#/patients/{{patient.id}}">
    <button class="btn btn-primary btn-right">Patient Home</button>
  </a>
	<table class="table table-striped survey-result-tbl">
    <thead class="survey-result-tbl-header">
      <tr>
        <td colspan="2"><h4>{{survey.time_period}} Survey</h4></td>
      </tr>
      <tr>
        <td><h4>Question</h4></td>
        <td class="tbl-center"><h4>Rating</h4></td>
    </thead>
    <tbody>
      <tr><td>{{questions.first}}</td><td class="tbl-center">{{survey.q1_rating}}</td></tr>
      <tr><td>{{questions.second}}</td><td class="tbl-center">{{survey.q2_rating}}</td></tr>
      <tr><td>{{questions.third}}</td><td class="tbl-center">{{survey.q3_rating}}</td></tr>
      <tr><td>{{questions.fourth}}</td><td class="tbl-center">{{survey.q4_rating}}</td></tr>
      <tr><td>{{questions.fifth}}</td><td class="tbl-center">{{survey.q5_rating}}</td></tr>
      <tr><td>{{questions.sixth}}</td><td class="tbl-center">{{survey.q6_rating}}</td></tr>
    </tbody>
  </table>
  <a href="/#/patients/{{patient.id}}/surveys/{{survey.id}}/take_survey">
    <button class="btn btn-success btn-right" ng-show="survey_status.take">Take Survey</button>
  </a>
  <a href="/#/patients/{{patient.id}}/surveys/{{survey.id}}/update_survey">
    <button class="btn btn-warning btn-right" ng-show="survey_status.update">Update Survey</button>
  </a>

</div>