<div class="container" ng-controller="HomeController">
	<h1>
		myKnee {{myKnee.temp}}
	</h1>
	<a href="/patients" class="btn btn-lg btn-primary">{{home_images[0].title}}</a>
	<a href="/physicians" class="btn btn-lg btn-primary">{{home_images[1].title}}</a>

</div>