<div class="container" ng-controller="PatientController">
	<h1>{{patient.name}}</h1>
  <h2>{{patient.surgery_type}}</h2>
  <h2>{{patient.knee_location}} Knee</h2>
	<br />
	<table ng-repeat="survey in patient.surveys">
    <thead>
      <tr>
        <td colspan="2"><h3>{{survey.time_period}}</h3></td>
      </tr>
      <tr>
        <td><h3>Question</h3></td>
        <td><h3>Rating</h3></td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="question in survey.questions">
        <td>{{question.body}}</td>
        <td>{{question.rating.value}}</td>
      </tr>
    </tbody>
  </table>

</div>