body {
	padding: 40px 0 40px 0;
}

.body-contain {
	max-width: 760px;
	margin: 0 auto;
	position: relative;
}

/* ##### BEGIN styling for NavBar #################################### */

/* ----- modified Bootstrap CSS ------------------------------------- */

.navbar-default .navbar-brand {
  color: #444444;
}

/*----- end Bootstrap CSS --------------------------------------------- */

.nav-contain {
  height: 100px;
  background-color: white;
  border: none;
}

.myKnee-logo {
  display: inline-block;
  margin-top: 10px;
  font-family: 'Paytone One', sans-serif;
  font-size: 80px;
}

/* ##### END styling for NavBar ###################################### */

.home {
	height: 400px;
	text-align: center;
	background-image: url("hiking_blue.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.patient-physician {
	height: 200px;
	width: 150px;
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 80px;
	margin-bottom: 140px;

}

.btn-home {
	margin: 10px;
	width: 180px;
	text-align: center;
	font-size: 32px;
}

.tbl-center {
	text-align: center;
}

.tbl-right {
	text-align: right;
}

.btn-right {
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 20px;
}

/* ##### BEGIN styling for patients_index #################################### */

.patients-tbl {
	border: 3px solid #3c6eb2;
}

.patients-tbl-header {
	background-color: #3c6eb2;
	color: white;
}

/* ##### END styling for patients_index #################################### */

/* ##### BEGIN styling for single_patient views #################################### */

.patient-div {
	border: 3px solid black;
	height: 280px;
	margin-bottom: 20px;
	background-color: #aec634s
}

.info-div {
	display: inline-block;
	height: 280px;
	width: 300px;
	float: left;
	text-align: left;
	margin-left: 20px;
}

.surgery-div {
	display: inline-block;
	height: 280px;
	width: 360px;
	float: right;
	text-align: right;
	margin-right: 20px;
}

.surgery-div > img {
	width: 200px;
}

.single-patient-tbl {
	border: 3px solid #32399b;
}

.single-patient-tbl-header {
	background-color: #32399b;
	color: white;
}

.take-patient-tbl {
	border: 3px solid #319140;
}

.take-patient-tbl-header {
	background-color: #319140;
	color: white;
}

.update-patient-tbl {
	border: 3px solid #ed9c28;
}

.update-patient-tbl-header {
	background-color: #ed9c28;
	color: white;
}

.survey-result-tbl {
	border: 3px solid #4a297a;
}

.survey-result-tbl-header {
	background-color: #4a297a;
	color: white;
}
/* ##### END styling for single_patient views #################################### */

/* ##### BEGIN styling for physician views #################################### */

.physician-div {
	border-top: 4px solid gray;
}

.physician-info-div {
	display: inline-block;
	height: 200px;
	width: 600px;
	float: left;
	text-align: left;
	margin-left: 20px;
	margin-bottom: 40px;
}

.physicians-tbl {
	border: 3px solid #3c6eb2;
}

.physicians-tbl-header {
	background-color: #3c6eb2;
	color: white;
}

.single-physician-tbl {
	border: 3px solid #32399b;
}

.single-physician-tbl-header {
	background-color: #32399b;
	color: white;
}

.patient-form {
	width: 480px;
	text-align: center;
	margin: 0 auto;
}

.patient-form-header {
	text-align: left;
	margin-left: 60px;
}

.input-field {
  display: inline-block;
  width: 360px;
  height: 50px;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  text-align: left;
  font-size: 20px;
}

.dropdown-field {
  display: inline-block;
  width: 360px;
  height: 50px;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  text-align: left;
  font-size: 20px;
}

.btn-patient-form {
	float: right;
	margin-right: 60px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 20px;
}

.btn-cancel-form {
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 20px;
}